{{define "content"}}

    {{range .articles}}
    <section class="article" id="{{.Id}}" component="Terrain">
        <h1><a href="/@{{.User.Nick}}/{{.TitleUrl}}">{{.Title}}</a></h1>
        <time datetime="{{.CreateDate}}">{{.CreateDate}}</time>
        by <a href="/@{{.User.Nick}}">@{{.User.Nick}}</a>
        <p>{{.Content}}</p>
    </section>
    {{end}}

    <script>
        anchorizeArticles();
    </script>

    {{if .user}}
    <div class="create-form">
        <input type="text" id="create-form-title" placeholder="Título">
        <textarea type="text" id="create-form-content" placeholder="Contenido..."></textarea>

        <div style="text-align: center;">
            <button id="create-form-button" class="button-create" onclick="createArticle()">Crear</button>
        </div>
    </div>
    {{else}}
    <div style="text-align: center;"><a id="login-to-write">Entra</a> para crear artículos</div>
    <script>
        document.getElementById('login-to-write').addEventListener('click', formLoginShowToggle, true);
    </script>

    {{end}}

{{end}}
