<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>BloGo</title>

		<link rel="icon" type="image/x-icon" class="js-site-favicon" href="/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/style.css">

        <script src="/script.js"></script>

		{{if .google_analytics }}
		<script async src="https://www.googletagmanager.com/gtag/js?id={{.google_analytics}}"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		  gtag('config', '{{.google_analytics}}');
		</script>
		{{end}}
	</head>
	<body>

        {{if .user}}
        {{else}}
        <div id="login-panel" component="login-panel">
            <form id="form-login">
                <label for="login-email">
                    Usuario: <input type="text" id="login-email" placeholder="tu@email.com">
                </label>

                <label for="login-password">
                    Contraseña: <input type="password" id="login-password" placeholder="contraseña">
                </label>

                <div style="text-align: center;">
                    <br>
                    <button component="TrunkButton">Entrar</button>
                </div>

                <br><br><br>

                <div style="text-align: center;">
                    También puedes <a href="{{ .google_oauth_link }}">entrar con Google</a>.
                </div>
            </form>
            <script>
                document.getElementById('form-login').addEventListener('submit', login, true);
            </script>
        </div>
        {{end}}

        <div class="toolbar">
            <div class="wcenter">

                <a class="logo" href="/"><img src="/img/logo.png" alt="Home"></a>

                <div style="float: right;">
                    {{if .user}}
                        <a class="cirle-button" href="/write/">
                            <img src="/img/icon-write.png" alt="New article">
                        </a>
                        <a class="cirle-button" href="/me/">
                        {{if .user.LoginGoogle }}
                            <img src="{{.user.LoginGoogle.Picture}}" alt="New article">
                        {{else}}
                            <img src="/img/icon-user.png" alt="New article">
                        {{end}}
                        </a>
                        <div class="cirle-button" style="margin-top: 8px;">
                            <button id="toolbar-logout-button" component="TrunkButton">Salir</button>
                            <script>
                                document.getElementById('toolbar-logout-button').addEventListener('click', logout, true);
                            </script>
                        </div>
                    {{else}}
                        <div style="margin-top: 8px;">
                            <a id="toolbar-login-button" component="TrunkButton">Entrar</a>
                            <script>
                                document.getElementById('toolbar-login-button').addEventListener('click', formLoginShowToggle, true);
                            </script>
                        </div>
                    {{end}}
                </div>

            </div>
        </div>

        <div class="main">
            <div class="wcenter">
            {{block "content" .}}
                THIS IS THE CONTENT
            {{end}}
            </div>
        </div>

        <div class="wcenter">
            <div class="footer">
                Blogo es software libre hecho con ❤️ en España, <a href="https://github.com/fulldump/blogo">colabora en GitHub</a>.
            </div>
        </div>
	</body>
</html>
